body {
  background-color: gray;
  margin: 0;
  font-family: sans-serif;
  font-size: 40px;
}

button {
  width: 40px;
  font-size: 25px;
  margin: 10px 0;
}

input {
  width: 100px;
  font-size: 35px;
  text-align: center;
}

#run-btn {
  width: 80px;
}